* {
    top: 0;
    left: 0;
    margin: 0;
}

body {
    top: 0;
    left: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.menuLateral {
    margin: 0;
    background-color: rgb(169, 156, 156);
    border: 1px solid black;
    height: 110vh;
    width: 70px;
    gap: 10px;
    display: grid;
    grid-template-columns: 70px;
    grid-template-rows: 100px 1px;
    position: relative;
    top: 0;
    left: 0;
}

.menuLateralItensSecundarios {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-top: 20px;
    text-align: center;
}

.menuLateralItensSecundarios button {
    position: relative;
    background-color: white;
    color: red;
    border: none;
    flex-direction: column;
    margin: 0;
    text-align: center;
    height: 50px;
    width: 70px;
}

.menuLateralItensSecundarios button p {
    color: black;
}

.standart {
    display: flex;
    position: absolute;
    justify-content: space-between;
    background-color: red;
    width: 100%;
    height: 60px;
    top: 0;
    left: 71px;
}

.standartItemPrincipal {
    margin-left: 90px;
    gap: 20px;
}

#btnWpp {
    background-color: rgb(0, 214, 0);
}

#btnWpp i {
    color: greenyellow;
}

.btnPrincipal {
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 10px;
}

.btnPrincipal i {
    margin-top: 3px;
}

.standartItemSecundario {
    margin-right: 125px;
}

#status {
    background-color: gray;
    width: 100px;
    display: grid;
    grid-template-columns: 20px 20px 20px;
    grid-template-rows: 60px;
}

#status h5 {
    margin-left: 30px;
}

#status div {
    display: flex;

}

#status div h6 {
    gap: 5px;
    display: inline-flex;
}

#status div h6 p {
    margin: 0;
}

#status button {
    width: 30px;
    height: 30px;
    position: relative;
}

#status button .bi-toggle-off {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 22px;
}

.item {
    display: flex;
    flex-direction: column;
}

.item h6,
h5,
h4 {
    margin: 0;
}

.item h6 {
    color: red;
    margin-left: 1px;
    font-size: 10px;
    margin-right: 10px;
}

.item h5 {
    color: green;
    margin-left: 1px;
    font-size: 11px;
    margin-right: 10px;
}

.bi-gear-fill {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(89, 221, 168);
    animation: trocaDeCor;
}

.fodase {
    background-color: white;
    border: 0;
}

@keyframes trocaDeCor {
    0% {
        color: rgb(2, 177, 107);
    }

    100% {
        color: blue;
    }
}

#meuMenu {
    background-color: #ffffff;
    overflow: hidden;
    /* Esconde o conteúdo que passar do limite */
    max-height: 200px;
    /* Altura máxima dele aberto */
    max-width: 100px;
    width: 100%;
    height: 100%;
    top: 50px;
    transition: max-height 0.4s ease-out;
    /* Efeito suave de descida */
    position: fixed;
    z-index: -1;
}

/* Estado escondido */
#meuMenu.menu-escondido {
    max-height: 0;
    z-index: -1;
}

/* Estilo dos links do menu */
#meuMenu a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

.itemsPricinpais {
    background-color: blue;
    position: absolute;
    display: grid;
    top: 60px;
    left: 71px;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.menudeEscolha {
    display: flex;
    scrollbar-width: 1200px;
    position: absolute;
    background-color: yellow;
    border-radius: 10px;
    height: 820px;
    width: 1420px;
    left: 15px;
    top: 100px;
}

.menudeEscolha::-webkit-scrollbar {
    background-color: transparent;
}

.linhadePesquisa {
    background-color: pink;
    position: absolute;
    height: 80px;
    width: 1420px;
    border-radius: 10px;
    left: 15px;
    top: 10px;
}

.texto {
    border-radius: 8px;
    position: absolute;
    left: 450px;
    top: 15px;
    height: 40px;
    width: 500px;
    border: 0.050rem solid transparent;
}

.texto:hover {
    border: 0.050rem solid black;
}

.texto::placeholder {
    position: absolute;
    left: 14px;
    border: none;
}

.bi-arrow-left {
    font-size: 30px;
    position: absolute;
    top: 25px;
    left: 40px;
}

.voltar {
    position: absolute;
    top: 22px;
    left: 80px;
    font-size: 30px;
}

.bi-toggle-off {
    position: absolute;
    top: 20px;
    left: 1100px;
    font-size: 40px;
}

.exibir {
    position: absolute;
    left: 1150px;
    top: 26px;
    font-size: 25px;
}

.bi-search {
    position: absolute;
    top: 158px;
    left: 25px;
}

.imgdeFadase {
    background: url(img/cafecomleite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: px 0;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    border: none;
    transition: 0.3s;
    position: absolute;
    top: 10px;
}

.imgdeFese {
    background: url(img/cafecomleite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: px 0;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    border: none;
    transition: 0.3s;
    position: absolute;
    top: 10px;
}

.imgdeCafe {
    background-image: url(img/cafecomleite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: px 0;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    border: none;
    transition: 0.3s;
    position: absolute;
    left: 25px;
    top: 10px;
}

.imgdeFOdase {
    background: url(img/cafecomleite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: px 0;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    border: none;
    transition: 0.3s;
    position: absolute;
    top: 10px;
}

.imgdecomida {
    background: url(img/cafecomleite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: px 0;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    border: none;
    transition: 0.3s;
    position: absolute;
    top: 10px;
}

.imgdefrase {
    background: url(img/cafecomleite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: px 0;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    border: none;
    transition: 0.3s;
    position: absolute;
    top: 10px;
}

.menuDiario {
    background-color: rgb(255, 224, 224);
    position: absolute;
    height: 200px;
    width: 1395px;
    left: 15px;
    top: 10px;
    border-radius: 20PX;
}


.img1 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    border-radius: 10px;
    left: 50px;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.img1:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid black;
}

.img2 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    border-radius: 10px;
    left: 260px;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.img2:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid black;
}

.img3 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    border-radius: 10px;
    left: 460px;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.img3:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid black;
}


.img4 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    border-radius: 10px;
    left: 670px;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.img4:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid black;
}

.img5 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    border-radius: 10px;
    left: 880px;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.img5:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid black;
}

.img6 {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    border-radius: 10px;
    left: 1090px;
    width: 150px;
    height: 160px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.img6:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border: 2px solid black;
}

.nome {
    position: absolute;
    top: 100px;
}

.nextCard {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 1290px;
    top: 50px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.nextCard:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.bi-caret-right {
    font-size: 70px;
}



.botaodeCompra {
    position: absolute;
    background-color: aqua;
    height: 60px;
    width: 1398px;
    top: 820px;
    left: 28px;
    border-radius: 10px;
}


.botao {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 40px;
    width: 1360px;
    border-radius: 10px;
    color: white;
    background-color: red;
    border: none;
    transition: 0.5s;
}


.botao:hover {
    scale: 1.010;
    background-color: rgb(146, 19, 19);
    transition: 0.5s;
}

.menuComidas {
    background-color: rgb(255, 102, 0);
    position: absolute;
    height: 480px;
    width: 1396px;
    left: 15px;
    top: 230px;
    border-radius: 10px;
    justify-content: space-evenly;
    display: flex;
}

.card {
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 10px;
    width: 170px;
    height: 200px;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    justify-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.rapaz {
    position: absolute;
    top: 470px;
    left: 25px;
    height: 200px;
    width: 1380px;
    justify-content: space-evenly;
    display: flex;
}

.menuCompra {
    background-color: white;
    width: 25%;
    position: relative;
    justify-self: right;
    display: flex;
    flex-direction: column;
}

.menuCompraPedinte {
    background-color: gray;
    height: 10%;
    width: 84%;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin: 3px;
    border-radius: 15px;
}

.menuCompraPedinte h4 {
    position: absolute;
    margin-top: 12px;
    margin-left: 14px;
    font-size: 21px;
    height: 50%;
}

.menuCompraTableHero {
    background-color: red;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menuCompraTableHero span {
    height: 30px;
    background-color: blue;
    width: 30px;
    border-radius: 5px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

#menuCompraItens {
    background-color: gray;
    border-radius: 15px;
    position: relative;
    margin: 3px;
    width: 84%;
    height: 60%;
}

.itemMenuCompra {
    background-color: white;
    position: absolute;
    width: 100%;
    display: flex;
    gap: 10%;
}

.crcItem1 {
    position: relative;
    background-color: rgba(0, 0, 255, 0);
    display: grid;
    width: 45%;
}

.crcItem1 h6 {
    margin: 0;
    font-size: 17px;
    margin-left: 15px;
}

.displayAmount {
    display: flex;
    background-color: white;
    width: 15px;
    height: 15px;
}

.displayAmount p {
    margin: 0;
}

#valorUnitario {
    display: flex;
    gap: 8px;
    color: rgb(128, 128, 128);
}

#valorUnitario p {
    margin: 0;
}

.crcItem2 {
    position: relative;
    background-color: brown;
    display: grid;
    width: 45%;
}

.bi-chat-dots {
    color: rgba(128, 128, 128, 0.842);
}

.bi-trash {
    color: red;
}

.bi-chat-dots,
.bi-trash {
    font-size: 20px;
}

.addAmout {
    /*botoes de quantia*/
    position: relative;
    display: flex;
    background-color: snow;
    width: 80px;
    height: 22px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.addAmout input {
    position: absolute;
    left: 26px;
    top: 2px;
    height: min-content;
    background-color: wheat;
    height: 16px;
    width: 24px;
    border: none;
    border-radius: 2px;
    text-align: center;
}

.add {
    /*adicionar_Quantia*/
    position: absolute;
    left: 56px;
    border-radius: 0px 10px 10px 0px;
    width: 24px;
    height: 22px;
    border: none;
    background-color: rgba(0, 0, 255, 0);
    color: red;
    transition: 0.1s;
}

.remove {
    /*remover_quantia*/
    position: absolute;
    left: 0;
    border-radius: 10px 0px 0px 10px;
    width: 24px;
    height: 22px;
    border: none;
    background-color: rgba(0, 0, 255, 0);
    color: red;
    transition: 0.1s;
}

.remove i,
.add i {
    /*centralizacao*/
    position: absolute;
    top: 4px;
    left: 5px;
}

.add:hover,
.remove:hover {
    /*anmt_fundoAdd*/
    background-color: #763f22;
    color: black;
    transition: 0.1s;
}

#valorTotal {
    display: flex;
    justify-self: right;
    margin-right: 15px;
    gap: 8px;
}

#valorTotal p,
h6 {
    color: black;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.479);
}