*{
    margin: 0;
    top: 0;
    left: 0;
}
body{
    overflow: hidden;
    position: relative;
    height: 130vh;
    z-index: -2;
}
.cabeca{
    position: relative;
    left: 120px;
    width: auto;
    background-color: blue;
    height: 80px;
    z-index: 2;
}

.menuLateral{
    background-color: rgb(255, 0, 200);
    height: 100%;
    width: 120px;
    position: relative;
    z-index: 2;
    display: flex;
}

.menuCardapio{
    background-color: rgb(255, 0, 0);
    position: relative;
    left: 91px;
    height: 880px;
    width: 100%;
    top: -1265px;
    z-index: -2;
}

.cardapio{
    background-color: blueviolet;
    position: relative;
    top: 140px;
    left: 140px;
    width: 1600px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 150px;
    height: 120px;
    top: 40px;
    position: relative;
    justify-content: center;
}
.card:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.input{
    position: relative;
    left: 830px;
    top: -1170px;
    height: 30px;
    width: 400px;
}